<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">CRUD ANGULAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          
        </ul>
        <div class="d-flex">
          
           
            <button class="btn btn-outline-success" (click)="showUserForm()">Add User</button>
          <!-- <button [ngClass]="[router.isActive('/user', true) ? 'd-none': 'd-block' ]" class="btn btn-outline-success" (click)="btnClick()"   type="Add Employ">Login</button> 
          <button [ngClass]="[router.isActive('/user', true) ? 'd-block': 'd-none' ]" class="btn btn-outline-success" (click)="logout()"   type="Add Employ">LogOut</button>-->
          <button class="btn btn-outline-danger mx-2" (click)="logout()">LogOut</button>
        </div>
      </div>
    </div>
  </nav>
  <!-- <app-modalpopup (click)="openModal('exampleModal')" modalId="exampleModal" title="Login form" content="This is the content of the modal."></app-modalpopup> -->
<router-outlet></router-outlet>
  